body{
    color: #333;  /* yazı rengi */
    font-size: 14px;  /* yazı boyutu */
    font-weight: bold;  /* yazı kalınlığı */
}
.container {
    display: flex;
    align-items:center;
    flex-direction:column
  }
  
.text-container{
    display:flex;
    padding:20px;

}

.textarea-container,
.div-container {
    width: 500px;
    height: 500px;
    display: flex;
    border-radius:15px;
    
}
.div-container{
    background-color:#90EE90;
    margin-left:30px;

}
.inner-div{
    width:100%;
    height:100%;
    padding:10px;
}
#text-area{
    width:100%;
    background-color:#ADD8E6;
    resize:none;
    border: none;
    overflow: auto;
    outline: none;
    padding:10px;
    border-radius:15px;
    color: #333;  /* yazı rengi */
    font-size: 14px;  /* yazı boyutu */
    font-weight: bold;  /* yazı kalınlığı */
}
#text-area::-webkit-scrollbar {
    width: 3px;
    background-color: #F5F5F5;
}
#text-area::-webkit-scrollbar-thumb {
    background-color: #666;
    border-radius: 10px;
}

/* #my-button{
    width:100px;
    height:50px;
    background-color:red;
} */
#my-button {
    display: inline-block;
    border: none;
    padding: 15px 30px;
    font-size: 16px;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    outline: none;
    color: #fff;
    background-color: #006400;
    border-radius: 5px;
    box-shadow: 0 3px #999;
    transition: all 0.3s ease-in-out;
    margin-top:20px;
    margin-bottom:20px;
}

#my-button:hover {
    background-color: #3e8e41;
    box-shadow: 0 1px #666;
    transform: translateY(-1px);
}

#my-button:active {
    background-color: #3e8e41;
    box-shadow: 0 2px #666;
    transform: translateY(4px);
}
.keys{
    display:none;
    max-width:1000px;
    flex-wrap:wrap;
    justify-content: space-between;  /* elemanları yatayda birbirlerinden uzaklaştır */
    align-items: center;  /* elemanları dikeyde ortalar */
    background-color: #eee;  /* arka plan rengi */
    border-radius: 5px;  /* köşeleri yuvarlat */
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);  /* gölge ekle */
    padding: 20px;  /* iç boşluk ver */
    
}

.keys p {
    margin-right: 10px;  /* sağ tarafına 10px boşluk bırak */
    color: #333;  /* yazı rengi */
    font-size: 14px;  /* yazı boyutu */
    font-weight: bold;  /* yazı kalınlığı */
    background-color: #fff;  /* arka plan rengi */
    border-radius: 5px;  /* köşeleri yuvarlat */
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);  /* gölge ekle */
    padding: 5px 10px;  
}
#button-login{
    display: block;  /* butonu tam genişlikte göster */
    width: 200px;  /* buton genişliği */
    height: 50px;  /* buton yüksekliği */
    margin: 20px auto;  /* üst ve alt tarafına 20px boşluk ver */
    border: none;  /* çerçeveyi kaldır */
    border-radius: 5px;  /* köşeleri yuvarlat */
    background-color: #6ebcf0;  /* arka plan rengi */
    color: #fff;  /* yazı rengi */
    font-size: 18px;  /* yazı boyutu */
    font-weight: bold;  /* yazı kalınlığı */
    text-transform: uppercase;  /* yazıyı büyük harfe çevir */
    cursor: pointer;  /* fare imleci */
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);  /* gölge ekle */
    transition: all 0.3s;  /* geçiş efekti */
    position: absolute;  /* butonu mutlak konumda göster */
    right: 20px;  /* butonun sağ tarafına 20px boşluk ver */
    top: 28px;  /* butonu yatayda ortalar */
    transform: translateY(-50%) scale(0.75);  /* butonu dikeyde ortalar ve 0.75 oranında küçült */
}
#button-login:hover{
    background-color: #2980b9; 
}

#button-register{
    display: block;  /* butonu tam genişlikte göster */
    width: 200px;  /* buton genişliği */
    height: 50px;  /* buton yüksekliği */
    margin: 20px auto;  /* üst ve alt tarafına 20px boşluk ver */
    border: none;  /* çerçeveyi kaldır */
    border-radius: 5px;  /* köşeleri yuvarlat */
    background-color: #3498db;  /* arka plan rengi */
    color: #fff;  /* yazı rengi */
    font-size: 18px;  /* yazı boyutu */
    font-weight: bold;  /* yazı kalınlığı */
    text-transform: uppercase;  /* yazıyı büyük harfe çevir */
    cursor: pointer;  /* fare imleci */
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);  /* gölge ekle */
    transition: all 0.3s;  /* geçiş efekti */
    position: absolute;  /* butonu mutlak konumda göster */
    right: 20px;  /* butonun sağ tarafına 20px boşluk ver */
    top: 80px;  /* butonu yatayda ortalar */
    transform: translateY(-50%) scale(0.75);  /* butonu dikeyde ortalar ve 0.75 oranında küçült */
}
#button-register:hover{
    background-color: #2980b9; 
}
/* modal */
.modal {
    display: none;  /* varsayılan olarak gizle */
    position: fixed;  /* sayfaya sabitle */
    z-index: 1;  /* üstte göster */
    left: 0;  /* sola yasla */
    top: 0;  /* üste yasla */
    width: 100%;  /* tam genişlikte göster */
    height: 100%;  /* tam yükseklikte göster */
    overflow: auto;  /* kaydırma çubuğu göster */
    background-color: rgba(0, 0, 0, 0.5);  /* arka plan rengi */
    color: #333;  /* yazı rengi */
    font-size: 14px;  /* yazı boyutu */
    font-weight: bold;  /* yazı kalınlığı */

}

/* modal içerik */
.modal-content {
    background-color: #fefefe;  /* arka plan rengi */
    margin: 10% auto;  /* yatay ve dikeyda ortalar */
    padding: 20px;  /* içerik için 20px boşluk ver */
    border: 1px solid #888;  /* çerçeveyi göster */
    width: 40%;  /* genişlik */
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);  /* gölge ekle */
    border-radius:30px;
}

/* modal başlık */
.modal-header {
    padding: 10px;  /* başlık için 10px boşluk ver */
    display:flex;
    justify-content:space-between;
    align-items:center;
}

/* modal kapatma butonu */
.modal-header .close {
    margin-top: -10px;  /* yukarı yasla */
    font-size: 35px;  /* yazı boyutu */
    font-weight: bold;  /* yazı kalınlığı */
}

/* modal gövde */
.modal-body {
    padding: 20px;  /* gövde için 20px boşluk ver */
    text-align: center;  /* yazıyı ortala */
}


.modal-header .close:hover, .modal-header .close:focus {
    color: #d2322d;  /* yazı rengi */
    cursor: pointer;  /* işaretçi göster */
  }
  form {
  }
  
  /* label stili */
  label {
    display: block;  /* bloğa yerleştir */
    padding: 5px;  /* boşluk ver */
    margin-top:10px;
    margin-bottom:-5px;
    font-size: 16px;  /* yazı boyutu */
    font-weight: bold;  /* yazı kalınlığı */
    color: #333;  /* yazı rengi */
  }
  
  /* input stili */
  input[type="text"], input[type="password"] {
    width: 50%;  /* tam genişlik */
    padding: 12px 20px;  /* boşluk ver */
    margin: 8px 0;  /* boşluk ver */
    box-sizing: border-box;  /* genişlik ve yükseklik dahil */
    border: 2px solid #ccc;  /* çerçeve rengi */
    border-radius: 4px;  /* yuvarlatma */
  }
  
  /* giriş butonu stili */
  button[type="submit"] {
    width: 70%;  /* tam genişlik */
    background-color: #3498db;  /* arka plan rengi */
    color: white;  /* yazı rengi */
    padding: 14px 20px;  /* boşluk ver */
    margin: 8px 0;  /* boşluk ver */
    border-radius:50px;
}

/* modal stili */
.modal2 {
    display: none;  /* varsayılan olarak gizle */
    position: fixed;  /* sayfaya sabitle */
    z-index: 1;  /* üstte göster */
    left: 0;  /* sola yasla */
    top: 0;  /* üste yasla */
    width: 100%;  /* tam genişlikte göster */
    height: 100%;  /* tam yükseklikte göster */
    overflow: auto;  /* kaydırma çubuğu göster */
    background-color: rgba(0, 0, 0, 0.5);  /* arka plan rengi */
    color: #333;  /* yazı rengi */
    font-size: 14px;  /* yazı boyutu */
    font-weight: bold;  /* yazı kalınlığı */
}

/* modal içerik stili */
.modal-content2 {
    background-color: #fefefe;  /* arka plan rengi */
    margin: 5% auto;  /* yatay ve dikeyda ortalar */
    padding: 20px;  /* içerik için 20px boşluk ver */
    border: 1px solid #888;  /* çerçeveyi göster */
    width: 40%;  /* genişlik */
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);  /* gölge ekle */
    border-radius:30px;
}

/* modal başlık stili */
.modal-header2 {
    padding: 10px;  /* başlık için 10px boşluk ver */
    display:flex;
    justify-content:space-between;
    align-items:center;
}

/* modal başlık yazısı stili */
.modal-header2 h2 {
    margin: 0;  /* boşluk verme */
}

/* modal kapatma butonu stili */
.close2 {
    color: #313131;  /* yazı rengi */
    float: right;  /* sağa yerleştir */
    font-size: 28px;  /* yazı boyutu */
    font-weight: bold;  /* yazı kalınlığı */
}

/* modal kapatma butonu hover olduğunda */
.close2:hover,
.close2:focus {
    color: #d2322d;  /* yazı rengi */
    text-decoration: none;  /* alt çizgi kaldır */
    cursor: pointer;  /* imleç değiştir */
}

/* modal gövde stili */
.modal-body2 {
    padding: 20px;  /* boşluk ver */
}

/* modal ayak stili */
.modal-footer2 {
    padding: 20px;  /* boşluk ver */
    background-color: #555;  /* arka plan rengi */
    color: white;  /* yazı rengi */
}
.form2{
    display:flex;
    flex-direction:column;
    justify-content:center;
    align-items:center;
}

#loadingSpin {
    display: flex;  /* flexbox kullan */
    justify-content: center;  /* ortala */
    align-items: center;  /* ortala */
    position: fixed;  /* tam ekrana yap */
    top: 0;  /* en üste yap */
    left: 0;  /* en sola yap */
    width: 100%;  /* tam genişlik */
    height: 100%;  /* tam yükseklik */
    background-color: rgba(0, 0, 0, 0.5);  /* arka plan rengi */
    z-index: 1;  /* ön plana getir */
  }
  
  /* img stili */
  #loadingSpin img {
    width: 50px;  /* genişlik */
    background-color:transparent;
    border-radius:50px;
  }

  #special-p {
    max-width: 95%;
    height: 200px;
    overflow-y: scroll;
    padding:10px 20px;
}

#special-p::-webkit-scrollbar {
    width: 3px;
    background-color: #F5F5F5;
}
#special-p::-webkit-scrollbar-thumb {
    background-color: #666;
    border-radius: 10px;
}

#deleteIcon {
    transform:scale(2);
    cursor:pointer;

    padding-right:5px;
    margin-top:5px;
}
#deleteIcon:hover{
    transform: rotate(15deg) scale(2.5);    
}
.prev-docs{

}
#innerDiv{
    border:1px solid #313131;
    padding:20px;
    padding-left:10px;
    text-indent: 20px;
    height:80%;
    margin-bottom:40px;
    border-radius:25px;
    max-width: 1250px;

}

